@import "tailwindcss";
@font-face {
  font-family: "Yekan";
  src: url("/font/Yekan.woff") format("woff");
  src: url("/font/Yekan.woff2") format("woff2");
}
@font-face {
  font-family: "Samim";
  src: url("/font/Samim.woff") format("woff");
  src: url("/font/Samim.woff2") format("woff2");
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0094da;
  border-radius: 5px;
  border: 2px solid #f1f5f9;
}

::-webkit-scrollbar-thumb:hover {
  background: #007bbd;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0094da #ffffff;
}

body {
  font-family: "Yekan","Samim", sans-serif;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  33% {
    transform: translateY(-20px) rotate(120deg);
  }
  66% {
    transform: translateY(10px) rotate(240deg);
  }
}
